{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 80,
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@cloud/(.*)$",
    "^@config/(.*)$",
    "^@data/(.*)$",
    "^@common/(.*)$",
    "^@iam/(.*)$",
    "^@course/(.*)$",
    "^@section/(.*)$",
    "^@lesson/(.*)$",
    "^@payment-method/(.*)$",
    "^@purchase/(.*)$",
    "^@module/(.*)$",
    "^@test/(.*)$",
    "^@root/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],

  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": [
    "typescript",
    "classProperties",
    "[\"decorators-legacy\", { \"decoratorsBeforeExport\": true }]"
  ]
}
